:root {
  --mainColor: #000;
  --bgColor: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --reTheme: 30px;
  --contentColor: #2e5a83;
  --infoTextColor: #414f68;
  --cloudWindColor: #ddd;
}

/* [data-theme="dark"] {
  --mainColor: #fff;
  --bgColor: linear-gradient(0deg, #001157 0%, #000c29 100%);
  --cloudWindColor: #b5b1b1;
} */


@font-face {
  font-family: "VF_Thin";
  src: url("//at.alicdn.com/wf/webfont/753cYYzrCtbY/tZlPrZU0VK9q.woff2") format("woff2"),
  url("//at.alicdn.com/wf/webfont/753cYYzrCtbY/lhZIeUw3GuQ0.woff") format("woff");
  font-display: swap;
}

* {
  font-family: "VF_Thin" !important;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

b {
  font-weight: bolder;
}